.about-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  .profile-container {
    display: inherit;
    flex-direction: row;
    background-color: #0077b652;
    border-radius: 25px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: -8px 0px 32px rgba(31, 45, 39, 1);
    .profile {
      display: flex;
      flex-direction: column;
      width: 33.3%;
  
      .avatar {
        background-image: url('https://res.cloudinary.com/meegido/image/upload/v1614500906/virginia-profile_nakokv.png');
        mix-blend-mode: darken;
        width: 260px;
        height: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px;
        
      }
      .contact {
        text-align: center;
        margin-left: 2em;
      }
    }
    .profile-data {
      width: 70%;
      text-align: right;
      .metier {
        filter: drop-shadow(1px 2px 4px #0077b652);
      }
    }
  }
  .profile-description {
    .metier-description {
      margin-bottom: 3em;
    }

    .curriculum-description {
      .curriculum-description-title {
        margin-bottom: 0.5em;
      }
     
      .curriculum-description-text {
        margin-top: 0;
      }
    }
    
  }
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .about-container {
    margin: 1em 3em 3em 4em;
    flex-direction: row;
    .profile-container {
      margin-right: 3em;
      height: 50%;
      .profile-data {
        width: 61%;
      }
    }
  }
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
  .about-container {
    margin: 1em 4em;
    flex-direction: row;

    .profile-container {
      margin-right: 3em;
      width: 52%;
      height: 50%;
      .profile {
        width: 26%;
        .avatar {
          width: 220px;
        }
      }
      .profile-data {
        width: 80%;
      }
    }

    .profile-description {
      padding-left: 1em;
    }
    
  }
}

@media (min-width: 90em) {
  .about-container {
    margin: 3em 16em;
    .profile-container {
      width: 80%;
      .profile {
        width: 52%;
        .avatar {
          width: 306px;
          height: 356px;
        }
      }

      .profile-data {
        width: 36%;
      }
    }
    .profile-description {
      width: 100%;
      padding-right: 2em;
    }
  }
}
