.category-title {
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.category-title.pixels {
  text-align: left;
}

.category-title.culture,
.category-title.interviews {
  text-align: right;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {}

@media (min-width: 48em) {}

@media (min-width: 90em) {}
