.category-title {
  text-transform: uppercase;
  margin-bottom: 0.1em;
}

.category-title.pixels {
  text-align: left;
}

.category-title.culture,
.category-title.interviews {
  text-align: right;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .row {
    display: grid;
    grid-gap: 4em;
  }

  .row.pixels {
    grid-template-columns: repeat(2, 1fr);
  }

  .row.culture {
    grid-template-columns: repeat(3, 1fr);
  }

  .row.interviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48em) {}

@media (min-width: 90em) {}
