.container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  &.pixels {
    flex-direction: row;
  }
  
  &.culture, &.interviews {
    flex-direction: row-reverse;
  }

  .category-title {
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  .category-more {
    font-family: 'New York Extra Large Regular Italic';
    font-size: 1rem;
  }
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .row {
    display: grid;
    grid-gap: 4em;
  }

  .row.pixels {
    grid-template-columns: repeat(2, 1fr);
  }

  .row.culture {
    grid-template-columns: repeat(3, 1fr);
  }

  .row.interviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48em) and (orientation: portrait) {
  .row {
    display: grid;
    grid-gap: 4em;
    margin-bottom: 1em;
  }
  
  .row.pixels {
    grid-template-columns: repeat(2, 1fr);
  }

  .row.culture {
    grid-template-columns: repeat(3, 1fr);
  }

  .row.interviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 64em) and (orientation: landscape) {
  .row {
    display: grid;
    grid-gap: 4em;
    margin-bottom: 2em;
  }
  
  .row.pixels {
    grid-template-columns: repeat(6, 1fr);
  }

  .row.culture {
    grid-template-columns: repeat(6, 1fr);
  }

  .row.interviews {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 90em) {
  .row {
    grid-gap: 6em;
    margin-bottom: 3em;
  }

  .row.pixels {
    grid-template-columns: repeat(12, 1fr);
  }

  .row.culture {
    grid-template-columns: repeat(14, 1fr);
  }

  .row.interviews {
    grid-template-columns: repeat(14, 1fr);
  }
}
