.articles-container {
  margin: 0 2em;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .articles-container {
    margin: 1em 4em;
  }
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
  .articles-container {
    margin: 1em 4em;
  }
}

@media (min-width: 90em) {
 .articles-container {
    margin: 1em 16em;
 }
}
