.articles-container {
  margin: 2em;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .articles-container {
    margin: 2em 4em;
  }
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
  .articles-container {
    margin: 2em 4em;
  }
}

@media (min-width: 90em) {
 .articles-container {
   margin: 3em 16em;
 }
}
