.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App-header .title {
  font-size: calc(1rem + ((1vw - 0.01em) * 4.2553));
  min-height: 0vw;
}

@media (min-width: 48em) {
  .App-header .title {
    font-size: calc(1rem + ((1vw - 0.48em) * 4.7619));
  }
}

@media (min-width: 90em) {
  .App-header .title {
    font-size: 3em;
  }
}
