.header {
  overflow: hidden;
  width: 100%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

.name .title {
  display: inline-flex;
  margin: 0.3em;
}

.name .subtitle {
  display: none;
}

.slogan {
  border-bottom: 1px solid black;
  letter-spacing: 1px;
}

.slogan p {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0.5em;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
}

.nav ul li {
  padding: 0 2em;
}

.nav ul li:first-child {
  padding-left: 0;
}

@media (min-width: 48em) {
  .name .title {
    font-size: 2em;
  }

  .name .subtitle {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 2em;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

@media (min-width: 64em) {
  .name .title {
    font-size: calc(1rem + ((1vw - 0.48em) * 5.7619));
  }
  .name .subtitle {
    font-size: 1rem;
    padding: 0 3em;
  }
}

@media (min-width: 83em) {
  .name .title {
    font-size: calc(1rem + ((1vw - 0.48em) * 6.7619));
  }
  .name .subtitle {
    font-size: 1.2rem;
    padding: 0 3em;
  }
}

@media (min-width: 90em) {
  .name .title {
    font-size: 3.2em;
  }

  .name .subtitle {
    font-size: 0.9rem;
    padding: 0 10em;
  }

  .nav ul li {
    padding: 0 4em;
  }
}
