
.blur {
  filter: blur(5px) grayscale(10%);
}

.contrast {
  filter: brightness(90%);
  filter: contrast(400%);
}

.saturate {
  filter: saturate(500%)
}

.hue {
  filter: hue-rotate(270deg);
}

.invert {
  filter: invert(100%);
}

.posterize {
  filter: url(#posterize)
}

.article {
  border-top: 1px solid black;
}

.article:nth-child(2),
.article:nth-child(3) {
  border-top: none;
}

.article-title {
  height: auto;
  margin: 0.5em 0 0.2em 0;
}

.article.pixels:first-child .article-title {
  text-align: left;
}

.article.pixels:nth-child(2) .article-title {
  text-align: right;
}

.article.culture:first-child .article-title,
.article.culture:nth-child(3) .article-title {
  text-align: right;
}

.article.culture:nth-child(2) .article-title {
  text-align: left;
}

.article.interviews:first-child .article-title {
  text-align: right;
}

.article.interviews:nth-child(2) .article-title{
  text-align: left;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.article-info .date {
  margin: 0.5em 0em;
  font-size: .9em;
}

.article .article-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.2em;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .article:nth-child(2),
  .article:nth-child(3) {
  border-top: 1px solid black;
}
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
}

@media only screen and (min-width: 64em) {
  /* .article .article-image {
    background-size: cover;
    border-radius: 0.3em;
    height: 350px;
    width: 100%;
  } */
}

@media (min-width: 90em) {

}
