.category-title {
  text-transform: uppercase;
  padding: 0.3em 0;
  margin-bottom: 0;
}

.category-title.pixels {
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: left;
}

.category-title.culture,
.category-title.interviews {
  margin-right: 0.5em;
  /* margin-left: 0.5em; */
  text-align: right;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .home {
    margin: 0 2em;
  }

  .category-title.pixels {
    margin-left: 0.7em;
  }

  .category-title.culture,
  .category-title.interviews {
    margin-right: 0.7em;
  }
}

@media (min-width: 48em) {
  .row {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 90em) {
  .home {
    margin: 0 13em;
  }

  .category-title.pixels {
    margin-left: 1.3em;
    margin-right: 0;
  }

  .category-title.culture,
  .category-title.interviews {
    margin-right: 3em;
    margin-left: 0;
  }
}
