.main-header {
	overflow: hidden;
	width: 100%;
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid black;
		border-bottom: 2px solid black;
		margin-top: 4em;
		
		.title {
			display: inline-flex;
			margin: 0.3em;
			a {
				color: #212529;
			}
		}
		.subtitle {
			display: none;
		}
	}
	
	.slogan {
		border-bottom: 1px solid black;
		letter-spacing: 1px;
		p {
			text-align: center;
			text-transform: uppercase;
			font-size: 0.7rem;
			margin: 0.5em 1em;
		}
	}
}

@media (min-width: 48em) {
	.main-header {
		.header {
			margin-top: 4em;
			.title {
				font-size: 2em;
			}
			.subtitle {
				display: flex;
				flex-direction: column;
				text-align: right;
				padding: 0 2em;
				text-transform: uppercase;
				font-size: 0.8rem;
				.roles {
					display: flex;
					flex-direction: column;
					text-align: center;
					width: 80px;

					span {
						text-align: center;
					}
				}
			}
		}
	}
	
}

@media (min-width: 64em) {
	.main-header {
		.header {
			margin-top: 4em;
			.title {
				font-size: calc(1rem + ((1vw - 0.48em) * 5.7619));
			}
			.subtitle {
				font-size: 1rem;
				padding: 0 3em;
			}
		}
	}
}

@media (min-width: 83em) {
	.main-header {
		.header {
			.title {
				font-size: calc(1rem + ((1vw - 0.48em) * 6.7619));
			}
			.subtitle {
				font-size: 1.2rem;
				padding: 0 3em;
			}
		}
	}
}

@media (min-width: 90em) {
	.main-header {
		.header {
			margin-top: 0;
			.title {
				font-size: 3.2em;
			}
			.subtitle {
				font-size: 0.9rem;
				padding: 0 10em;
			}
		}
	}
}
