.article {
  margin: 0 auto;
  padding-bottom: 0.5em;
  width: 95%;
}

.article-title {
  height: auto;
}

.article:first-child .article-title {
  border-top: 1px solid black;
  padding-top: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 3.5em;
  text-align: right;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-info p {
  margin: 0.5em 0em;
}

.excerpt {
  text-align: left;
}

.article:nth-child(2) .article-title {
  text-align: left;
  margin-bottom: 0em;
  margin-right: 5em;
}

.article .article-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.2em;
}

.article:nth-child(3) .article-title {
  text-align: left;
  margin-bottom: 0em;
  margin-right: 5em;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .article {
    margin: 0 1em;
  }

  .article.pixels:nth-child(2) {
    flex: 1 0 63%;
  }

  .article-title {
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article:first-child .article-title,
  .article:nth-child(2) .article-title,
  .article:nth-child(3) .article-title {
    margin-right: 0;
    padding-left: 0;
  }
}

@media only screen and (min-width: 48em) and (orientation: portrait) {
  .article {
    margin: 0 1em;
  }

  .article-title {
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .article:first-child .article-title,
  .article:nth-child(2) .article-title,
  .article:nth-child(3) .article-title {
    margin-right: 0;
    padding-left: 0;
  }
}

@media only screen and (min-width: 64em) {
  .article .article-image {
    background-size: cover;
    border-radius: 0.3em;
    height: 350px;
    width: 100%;
  }
}
