.article {
  margin-bottom: 2em;
}

.article:first-child .article-title {
  border-top: 1px solid black;
  width: 90%;
  padding: 0.5em 0.3em 0 1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.9em;
  text-align: right;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5em 0 1em;
  align-items: center;
}

.image {
  width: 100%;
  height: 300px;
}

.excerpt {
  padding: 0 2.5em 0 1em;
  text-align: left;
}
